:root {
  --backgroundcolor-primary: #000000;
  --backgroundcolor-secondary : #FFFFFF;

  --textcolor-primary: #000000;
  --textcolor-secondary: #FFFFFF;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  display: flex;
  flex-flow: column nowrap;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
#root{
  height: 100%;
}
body{
  height: 100%;
  overflow: hidden;
}

/*==============================================*/
/*                  HEADER                      */
/*==============================================*/
.header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: var(--backgroundcolor-primary);
  padding: 1rem;
}
.logo{}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
}
.nav-menu{

  text-decoration: none;
  color: var(--textcolor-secondary);
}

/*==============================================*/
/*                  MAIN                        */
/*==============================================*/

.main{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100%;
}


/*======== MENU BAR ========*/
.menu-bar {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  width: 6.1%;
  background-color: var(--backgroundcolor-primary);
}

.menu-bar-list{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  bottom: 10%;
}
.list-item{
  background-color: var(--backgroundcolor-secondary);
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0px, 0px);
}
.list-item-img{}
.copyright {
  position: absolute;
  bottom: 25%;
  color: var(--textcolor-secondary);
  transform: rotate(270deg);
  width: 400%;
  font-size: 0.9rem;
}


/*======== MAIN USER ========*/

.user-container{
  height: 80%;
  width: 100%;
}


.user-welcome{}
.username{}
.user-objective-text{}

.user-graphic-and-loss {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.graphic-container {
  height: 100%;
  width: 80%;
}
.sub-graphic-container{
  height: 50%;
  width: 100%;
}

.user-activity {
  height: 50%;
  width: 100%;
}
.user-average-session {
  height: 100%;
  width: 100%;
}
.loss{
  width: 20%;
  height: 100%;
}

.load-text{
  font-size: 4rem;
  font-weight: 900;
  color: var(--backgroundcolor-primary);
}