:root {
  --backgroundcolor-primary: #000000;
  --backgroundcolor-secondary : #FFFFFF;
  --backgroundcolor-tertiary: #FF0000;
  --backgroundcolor-fourth: #FBFBFB;

  --textcolor-primary: #000000;
  --textcolor-secondary: #FFFFFF;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  display: flex;
  flex-flow: column nowrap;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
#root{
  height: 100%;
}
body{
  height: 100%;
  overflow: hidden;
}

/*==============================================*/
/*                  HEADER                      */
/*==============================================*/
.header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: var(--backgroundcolor-primary);
  padding: 1rem;
}
.logo{}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
}
.nav-menu{

  text-decoration: none;
  color: var(--textcolor-secondary);
}

/*==============================================*/
/*                  MAIN                        */
/*==============================================*/

.main{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 100%;
}


/*======== MENU BAR ========*/
.menu-bar {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  width: 6.1%;
  background-color: var(--backgroundcolor-primary);
}

.menu-bar-list{
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 2rem;
  height: 100%;
  bottom: 10%;
}
.list-item{
  background-color: var(--backgroundcolor-secondary);
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0px, 0px);
  width: 2.5rem;
  height: 2.5rem;
}
.list-item-img{
  width: 100%;
  height: 100%;
}
.copyright {
  position: absolute;
  bottom: 30%;
  color: var(--textcolor-secondary);
  transform: rotate(270deg);
  width: 400%;
  font-size: 0.9rem;
}


/*======== MAIN USER ========*/

.user-container{
  height: 70%;
  width: 100%;
  padding: 5vw;
}


.user-welcome {
  height: 15vw;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}
.username{}
.username-name{
  color: var(--backgroundcolor-tertiary);
}
.user-objective-text{}

.user-graphic-and-loss {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 4vw;
}
.graphic-container {
  height: 100%;
  width: 80%;
}
.sub-graphic-container{
  display: flex;
  flex-flow: row nowrap;
  height: 50%;
  width: 100%;
  gap: 1rem;
}

.user-activity {
  height: 50%;
  width: 100%;
  background-color: var(--backgroundcolor-fourth);
  border-radius: 10px;
}
.user-average-session {
  height: 100%;
  width: 100%;
  background-color: var(--backgroundcolor-tertiary);
}
.performance{
  background-color: var(--backgroundcolor-primary);
}
.score{}
.score-text-container {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
.sub-graphic-graphic{
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  width: 30%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
}
.loss{
  width: 20%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.losskey{
  background-color: var(--backgroundcolor-fourth);
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.losskey-icon{
  padding: 1rem;
  border-radius: 5px;
}
.losskey-title{
  font-size: 1.7rem;
}
.losskey-text{
  font-size: .7rem;
}


.load-text{
  font-size: 4rem;
  font-weight: 900;
  color: var(--backgroundcolor-primary);
}

/*======== LOADING ========*/
.loading{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.spinner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
}
.loader {
  position: relative;
  margin: auto;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.1);
  transform-origin: 50% 50%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #0000;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
    spinner-fade 1.2s linear infinite;
}
.loader:before {
  border-top-color: var(--backgroundcolor-primary);
}
.loader:after {
  border-top-color: var(--backgroundcolor-tertiary);
  animation-delay: 0.4s;
}

@keyframes spinner-spin {
  100% { transform: rotate(360deg)}
}
@keyframes spinner-fade {
  25%, 75% { opacity: 0.1}
  50% { opacity: 1 }
}
    